body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0; /* Defina a cor de fundo desejada */
}

.form-container {
    width: 400px;
    background-color: #ffffff; /* Defina a cor de fundo da caixa */
    border: 2px solid transparent;
    padding: 32px 24px;
    font-size: 14px;
    font-family: inherit;
    color: #000000; /* Defina a cor do texto */
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-container button:active {
    scale: 0.95;
}

.form-container .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-container .form-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.form-container .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #717171;
    font-weight: 600;
    font-size: 12px;
}

.form-container .form-group input {
    width: calc(100% - 32px); /* Ajusta a largura do input */
    padding: 12px 16px;
    border-radius: 8px;
    color: #000000; /* Defina a cor do texto do input */
    font-family: inherit;
    background-color: #f0f0f0; /* Defina a cor de fundo do input */
    border: 1px solid #d0d0d0; /* Defina a cor da borda do input */
}

.form-container .form-group input::placeholder {
    opacity: 0.5;
}

.form-container .form-group input:focus {
    outline: none;
    border-color: #e81cff;
}

.form-container .form-submit-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    font-family: inherit;
    color: #ffffff; /* Defina a cor do texto do botão */
    font-weight: 600;
    width: 40%;
    background: #313131;
    border: 1px solid #414141;
    padding: 12px 16px;
    font-size: inherit;
    gap: 8px;
    margin-top: 8px;
    cursor: pointer;
    border-radius: 6px;
}

.form-container .form-submit-btn:hover {
    background-color: #fff;
    border-color: #fff;
}
