@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

*::selection{
    background-color: #f2f2f2;
    color: #020202 !important;
    -webkit-text-fill-color: unset !important;
}
  
*::-webkit-scrollbar{
    width: 12px;
    height: 12px; 
    padding: 10px;
    background-color: transparent;
}
    
*::-webkit-scrollbar-track{
    background: transparent;
}
    
*::-webkit-scrollbar-thumb{
    background-color: #ccc;
    border-radius: 10px;
}
  
*::-webkit-scrollbar-thumb:hover{
    background-color: #bbb;
}

html {
    scroll-behavior: smooth;
}

body{
    background-color: #212121;
}

.icon-happie{
    display: block;
    position: absolute;
    z-index: 10;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: .3s all;
    background-color: #212121;
}

.name-happie{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transition: .8s all;
    transform: translate(-50%, -50%);
    fill: rgba(255, 255, 255, .0);
}

.animarHappie{
    animation: animHappie 1.5s forwards ease-in-out ;
}

.fillHappie{
    animation: fillHappie .3s forwards ease-in-out;
}

.name-happie path:nth-child(1){
    stroke-dasharray: 187px;
    stroke-dashoffset: 187px;
}

.name-happie path:nth-child(2){
    stroke-dasharray: 290px;
    stroke-dashoffset: 290px;
}

.name-happie path:nth-child(3){
    stroke-dasharray: 348px;
    stroke-dashoffset: 348px;
}

.name-happie path:nth-child(4){
    stroke-dasharray: 73px;
    stroke-dashoffset: 73px;
}

.name-happie path:nth-child(5){
    stroke-dasharray: 309px;
    stroke-dashoffset: 309px;
}

.name-happie path:nth-child(6){
    stroke-dasharray: 108px;
    stroke-dashoffset: 108px;
}

.name-happie path:nth-child(7){
    stroke-dasharray: 273px;
    stroke-dashoffset: 273px;
}

.name-happie path:nth-child(8){
    stroke-dasharray: 273px;
    stroke-dashoffset: 273px;
}

.name-happie path:nth-child(9){
    stroke-dasharray: 303px;
    stroke-dashoffset: 303px;
}

.name-happie path:nth-child(10){
    stroke-dasharray: 269px;
    stroke-dashoffset: 269px;
}

@keyframes animHappie{
    to{
        stroke-dashoffset: 0;
    }
}

@keyframes fillHappie{
    to{
        fill: #fff;
    }
}

.div-loader{
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 9999;
    background-color: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s all;
}

.loader {
    width: 45px;
    height: 40px;
    background: linear-gradient(#0000 calc(1*100%/6),#fff 0 calc(3*100%/6),#0000 0),
              linear-gradient(#0000 calc(2*100%/6),#fff 0 calc(4*100%/6),#0000 0),
              linear-gradient(#0000 calc(3*100%/6),#fff 0 calc(5*100%/6),#0000 0);
    background-size: 10px 400%;
    background-repeat: no-repeat;
    animation: matrix 1s infinite linear;
    transition: .2s all;
}
  
@keyframes matrix {
    0% {
      background-position: 0% 100%, 50% 100%, 100% 100%
    }
  
    100% {
      background-position: 0% 0%, 50% 0%, 100% 0%
    }
}

.form-chat{
    display: block;
    position: fixed;
    z-index: 2;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, 0);
}

.input-group{
    display: flex;
    align-items: center;
}

.input-chat{
    font-size: 22px;
    padding: 16px 20px;
    background-color: #333;
    color: #aaa;
    border: #676767 solid 1px;
    outline: none;
    border-radius: 24px;
    width: 80vw;
    max-width: 900px;
    transition: .2s all;
}

.input-chat:focus{
    box-shadow: 0 0 4px rgba(255, 255, 255, .2);
}

.btn-chat{
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    transform: translate(-120%, 0);
    transition: .2s all;
}

.btn-chat:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, .2);
}

.div-chat {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 32px;
    margin: 0 22% 10% 22%; /* Center horizontally */
    background-color: #333; /* Contrasting background color */
    border-radius: 16px;
}

.chat-logo{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 12px;
}

.chat-logo img{
    width: 32px;
}

.bot-name{
    font-weight: 800;
    color: #fff;
    font-size: 16px;
}

.resposta{
    color: #eee;
}

/* Arthur esteve aqui */

/* <reset-style> ============================ */
a {
    text-decoration: none;
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 22px;

  }
  /* <main-style> ============================ */
  .menu__link {
    color: #fff;
    line-height: 2;
    position: relative;
  }
  
  .menu__link::before {
    content: '';
    width: 0;
    height: 2px;
    border-radius: 2px;
    background-color: #fff;
    position: absolute;
    bottom: -.25rem;
    left: 0;
    transition: width .4s;
  }
  
  .menu__link:hover::before {
    width: 100%;
  }

  .user-message {
    text-align: right;
    background-color: #4a4a4a;
    padding: 10px;
    color: #fff;
    margin-bottom: 20px;
    border-radius: 15px 0px 15px 15px;
    margin-left: 50px;
}

.ai-message {
    text-align: left; 
    background-color: #202020;
    padding: 10px;
    border-radius: 0px 15px 15px 15px;
    margin-bottom: 20px;
    margin-right: 50px;
    color: #fff;
}

.button-container {
    position: fixed;
    bottom: calc(100vh - 100%);
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    z-index: 3;
}


.button-container button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-container button:hover {
    background-color: #45a049;
}