<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário</title>
    <link rel="stylesheet" href="../static/form.css">
    <link rel="icon" type="image/png" href="/static/img/logo icon.jpg">
</head>
<body>
    <div class="logo">
      <img class="imglogo" src="/static/img/teste-removebg-preview.png" alt="">
    </div>
    <div class="form-container">
        <form class="formLogin" action="/salvar_dados" method="post">
          <div class="form-group">
            <label for="email">Nome</label>
            <input required="" name="nome" id="email" type="text" autocomplete="off">
          </div>
          <div class="form-group">
            <label for="textarea">Idade</label>
            <input required="" name="idade" id="textarea" type="number" autocomplete="off">
          </div>
          <button type="submit" class="form-submit-btn">Enviar</button>
        </form>
      </div>
      <script>
        const form = document.querySelector(".formLogin")
        form.addEventListener('submit', () => {
          localStorage.removeItem('loadStat')
        })
      </script>
</body>
</html>