<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário</title>
    <link rel="stylesheet" href="../static/form.css">
</head>
<body>
    <div class="form-container">
        <form class="form" action="/salvar_dados" method="post">
          <div class="form-group">
            <label for="email">Nome</label>
            <input required="" name="nome" id="email" type="text">
          </div>
          <div class="form-group">
            <label for="textarea">Idade</label>
            <input required="" name="idade" id="textarea" type="number">         </textarea>
          </div>
          <button type="submit" class="form-submit-btn">Enviar</button>
        </form>
      </div>
</body>
</html>