<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Chatbot</title>
</head>
<body>
    <h1>Chatbot</h1>
    <div id="conversation">
        {% for message in conversation %}
            <p class="resposta">{{ message }}</p>
        {% endfor %}
    </div>
    
    <form action="/chat" method="post" class="form-chat">
        <input type="text" name="message" placeholder="Digite sua mensagem" class="input-chat">
        <button type="submit" class="btn-chat">E</button>
    </form>
    <script src="../static/main.js"></script>
</body>
</html>
